[Unit]
Description=RClone Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
KillMode=none
Environment=RCLONE_CONFIG=/home/{{ ansible_user}}/.config/rclone/rclone.conf
RestartSec=5
ExecStart=/usr/bin/rclone mount {{ rclone_stanza }}: /home/{{ ansible_user}}/{{ rclone_mountpoint }} \
--dir-cache-time 1000h \
--poll-interval 15s \
--buffer-size 256M \
--fast-list \
--drive-chunk-size 128M \
--dir-cache-time 96h \
--log-level INFO \
--log-file /home/{{ ansible_user}}/rclone.log \
--timeout 1h \
--umask 002 \
--vfs-cache-max-size 20G \
--vfs-cache-max-age 336h \
--vfs-cache-mode full
ExecStop=/bin/fusermount -uz /home/{{ ansible_user}}/{{ rclone_mountpoint }}
Restart=on-failure

[Install]
WantedBy=default.target
